


header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.top_main_navlinks {
    align-items: center;
}

.top_main_navlinks li{
 list-style: none;
 margin: 0px 25px;

}

.top_main_navlinks ul {
    display: flex;
    align-items: center;
}

.top_main_searchbar {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 400px;

}

#top_searchbar {
    text-align: center;
    border: none;
    font-size: 30px;
    outline: none;
}